        p {
            color: rgb(17, 221, 184);
            font-size: 20px;
            text-align: center;
        }
        h1{
            color: rgba(43, 177, 52, 0.785);
        }
        h3{
            color: rgb(12, 12, 17);
            font-size: 100px;
            text-align: center;
        }
        p,h1,h2 {
            font-size: 80px;  
        }
        body{
     background-image: url("img.png");
     background-repeat: repeat-y;
     background-size: cover;}
